
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

}

body{
  background-color: #f6f6f6;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:4vh;
  background-color:#276678;
  padding: 1%;
}
.logo{
  color:#f4f9f9;
  text-transform:uppercase;
  letter-spacing:5px;

}

.nav-links{
  color:#f4f9f9;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
  font-family: 'Marck Script', cursive;
  letter-spacing:3px;
}


.burger{
  display: none;
}

.burger div{
  width: 25px;
  height:3px;
  background-color:#f4f9f9;
  margin:5px;
}

.head{
  background-color: #a1cae2;
  color:white;
  text-align: center; 
  padding: 80px; 
  height: 300px;
}

h1{
  font-weight: strong;
  font-size: 50px;
  text-transform:uppercase;
  letter-spacing:5px;
  margin-bottom: 20px;
}

.box{
  width: 1200px;
  margin-left: auto; 
  margin-right: auto;


}


main{ 
  display: flex;  
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

main>.item{  
  flex:none;
  width: 270px;
  margin:12px;
  background-color:#d9ecf2;
  text-align: center;
  height: 350px; 
  line-height: 30px; 
}

img{
  position: relative;
  width:  100%;
  height: auto;
  background-size: cover;
}

.item p{
  margin: 3%;
  font-family: 'Montserrat', sans-serif;
}


@media (max-width: 1200px) {
.head{
  height: auto;
}
.box{
  width: auto;
  padding: 5%;
}
main>.item{
  width: 45%;
  height: auto;
}
img{
  width: 100%;
  height: auto;
}

.nav-links{
  width: 40%;
}

}


@media (max-width: 600px) {

main>.item{
  width: 90%;
}

h1{
  font-size: 30px;
}
h3{
  font-size: 12px;
}
  
.nav-links{
  display: none;
}


.burger{
  display: block;
  cursor:pointer;
}


}
